<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chabot</title>

<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
  <main>
    <div class="conversation">
      {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
      {% endfor %}

      {% block content %}
      {% endblock %}

    </div>
  </main>
  <script src="../static/js/script.js"></script>
</body>
</html>
